.solveGroup {
  width: 392px;
  flex: none;
}

.row.buttons .solveGroup {
  margin-left: calc(25% - 28px);
  margin-right: calc(25% - 168px);
}

.row.buttons .explainGroup, .row.hints .explainGroup {
  flex: none;
}
