

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .silex-id-1598505621021-1 {top: 100px; left: 100px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1598505640984-2 {top: 120px; left: 120px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1598467987320-2 {top: 170px; left: 260px; height: 20px; width: 120px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1598467863884-1 {top: 140px; left: 60px; height: 20px; width: 480px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1598468415329-5 {top: 140px; left: 580px; height: 20px; width: 260px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1598467116764-0 {top: 40px; left: 40px; height: 620px; width: 1140px; background-color: rgb(244, 255, 215);
        }
        .background-initial {background-color: rgb(154, 215, 255); top: 40px; left: 154px; width: 1226px; height: 700px;
        }
        .silex-id-1598593071537-0 > button {font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; background-color: rgb(168, 204, 239);
        }
        .silex-id-1600061423846-1 {top: 160px; left: 580px; height: 20px; width: 60px; font-weight: bold; text-align: left; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1600061640937-2 {top: 100px; left: 411px; height: 0px; width: 0px; display: none;
        }
        .silex-id-1598468263311-4 {top: 270px; left: 240px; height: 20px; width: 180px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif; text-align: left;
        }
        .silex-id-1598505104976-0 {top: 290px; left: 275px; height: 20px; width: 120px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1598469185159-17 {top: 480px; left: 590px; height: 160px; width: 320px; display: flex;
        }
        .silex-id-1598469195837-18 {top: 480px; left: 910px; height: 80px; width: 80px;
        }
        .silex-id-1598469200896-19 {top: 560px; left: 910px; height: 80px; width: 80px;
        }
        .silex-id-1598468985045-15 {top: 350px; left: 580px; height: 40px; width: 560px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1599244675514-1 {top: 290px; left: 580px; height: 20px; width: 500px;
        }
        .silex-id-1599244786523-2 {top: 390px; left: 580px; height: 20px; width: 500px;
        }
        .silex-id-1599244675514-1 > select {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1599244786523-2 > select {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1598468445926-6 > select {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1599244558411-0 > select {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1598594447350-2 > select {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        .silex-id-1598468876274-13 {top: 270px; left: 580px; height: 20px; width: 260px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-weight: bold;
        }
        .silex-id-1600107730967-0 {top: 190px; left: 740px; height: 20px; width: 80px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: bold; text-align: center;
        }
        .silex-id-1600061251235-0 {top: 180px; left: 520px; height: 120px; width: 560px; font-weight: bold; text-align: center; font-family: "Arial Black", "Arial Black", Gadget, sans-serif; font-style: normal; border-color: rgb(0, 0, 0); font-size: 16px;
        }
        .silex-id-1598468261596-3 {top: 230px; left: 60px; height: 20px; width: 280px; font-weight: bold; font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
        .silex-id-1598468445926-6 {top: 160px; left: 620px; height: 20px; width: 100px;
        }
        .silex-id-1598594447350-2 {top: 160px; left: 950px; height: 20px; width: 130px;
        }
        .silex-id-1599244558411-0 {top: 160px; left: 850px; height: 20px; width: 100px;
        }
        .silex-id-1600107962190-1 {top: 160px; left: 720px; height: 20px; width: 130px;
        }
        .silex-id-1600108171129-2 {top: 220px; left: 620px; height: 20px; width: 100px;
        }
        .silex-id-1600108181349-3 {top: 220px; left: 720px; height: 20px; width: 130px;
        }
        .silex-id-1600108189827-4 {top: 220px; left: 850px; height: 20px; width: 100px;
        }
        .silex-id-1600108196660-5 {top: 220px; left: 950px; height: 20px; width: 130px;
        }
        .silex-id-1598593071537-0 {top: 180px; left: 1080px; height: 40px; width: 80px;
        }
    